[submodule "KernelConstrainedKmeans"]
	path = KernelConstrainedKmeans
	url = https://github.com/Jeanselme/KernelConstrainedKmeans.git
[submodule "SemiSupervisedGraphClustering"]
	path = SemiSupervisedGraphClustering
	url = https://github.com/Jeanselme/SemiSupervisedGraphClustering.git
