[submodule "KernelConstrainedKmeans"]
	path = KernelConstrainedKmeans
	url = git@github.com:Jeanselme/KernelConstrainedKmeans.git
[submodule "SemiSupervisedGraphClustering"]
	path = SemiSupervisedGraphClustering
	url = git@github.com:Jeanselme/SemiSupervisedGraphClustering.git
